<%= render "shared/second-header" %>

<%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>新着投稿一覧</h2>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <% @cleans.each do |clean|%>
      <li class='list'>
        <div class='item-img-content'>
          <%= link_to image_tag(clean.image, class: "item-img"), clean_path(clean) %>

          <%# 商品が売れていればsold outを表示しましょう %>
          <div class='sold-out'>
            <span>完了!!</span>
          </div>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= clean.clean_name %>
          </h3>
          <div class='item-price'>
            <span><%= clean.status.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </li>
      <% end %>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
    </ul>
  </div>
  <%= link_to(new_clean_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>新規投稿</span>
  <%= image_tag 'icon_clean.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
  <%# /商品一覧 %>
  <%= render "shared/footer"%>