<%= render "shared/second-header" %>

  <div class='item-contents'>
    <h2 class='title'>タスク投稿一覧</h2>
    <ul class='item-lists'>
      <% @cleans.each do |clean|%>
      <li class='list'>
        <div class='item-img-content'>
          <%= link_to image_tag(clean.image, class: "item-img"), clean_path(clean) %>

          <% if clean.done.present? %>
          <div class='complete'>
          <%= image_tag("complete.png") %>
          </div>
          <% end %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= clean.clean_name %>
          </h3>
          <div class='item-price'>
            <span><%= clean.status.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </li>
      <% end %>
      <%# //投稿がない場合、サンプル投稿を表示%>
       <li class='list'>
        <% if @cleans.length == 0 %>
        <%= image_tag "sample_clean.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            サンプル投稿
          </h3>
          <div class='item-price'>
            <span>タスク完了で完了表示されます</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //投稿がない場合、サンプル投稿を表示%>
    </ul>
  </div>
  <%= render "shared/footer"%>