<%= render "shared/second-header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @clean.clean_name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag(@clean.image,class:"item-box-img") %>

      <% if @clean.done.present? %> 
          <div class='complete2'>
          <%= image_tag("complete.png") %>
          </div>
      <% end %>
  
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @clean.text %>
      </span>
      <span class="item-postage">
        <%= @clean.status.name %>
      </span>
    </div>

    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <% unless @clean.done.present? %>
    <%= link_to "タスク投稿の編集", edit_clean_path, method: :get, class: "item-red-btn" %>
    <%= link_to "タスク完了の報告", clean_tasks_path(@clean.id), class:"item-red-btn"%>
    <%= link_to "投稿を削除", clean_path(@clean.id), method: :delete, data: {confirm: "削除しますか？"}, class:"item-destroy" %>
    <% end %>

    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="item-explain-box">
      <span><%= "タスク説明" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">タスク名</th>
          <td class="detail-value"><%= @clean.clean_name %></td>
        </tr>
        <tr>
          <th class="detail-item">清掃場所</th>
          <td class="detail-value"><%= @clean.cleaning_place %></td>
        </tr>
        <tr>
          <th class="detail-item">清掃箇所の状態</th>
          <td class="detail-value"><%= @clean.status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">業者対応の有無</th>
          <td class="detail-value"><%= @clean.support.name %></td>
        </tr>
        <tr>
          <th class="detail-item">重要度</th>
          <td class="detail-value"><%= @clean.important.name %></td>
        </tr>
        <tr>
          <th class="detail-item">投稿時間</th>
          <td class="detail-value"><%= "********" %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png",class:"favorite-star-icon",width:"20",height:"20"%>
        <span>確認 0</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>



  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png",class:"comment-flag-icon",width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <%# 詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  <%= link_to 'TOPに戻る', cleans_index_path, class: "top-move" %>
  <%# //詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
</div>

 <%= render "shared/footer"%>