<%= render "shared/header" %>

<%# Top %>
  <div class='title-contents'>
    <h2 class='service-title'>
      クレンリネンス共有タスクアプリ
    </h2>
    <p class='service-explain'>
    【清潔で快適な状態】をチームで共有するための、写真投稿によるタスク化アプリです。
    </p>
    <ul style="list-style: none;">
    <li><%= link_to 'Cleanliness_meを始める', new_user_registration_path, class: "btn btn-primary" %></li>
    </ul>
  </div>

<%# 詳細 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      Cleanliness_meの特徴
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag '/assets/im.png', class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>写真</span>
          をつけて簡単投稿
        </h3>
        <p class='reason-list-description'>
          写真を付けて、状況が分かりやすく、使い方も簡単。
        </p>
      </li>
      <li class='list'>
        <%= image_tag '/assets/tsk.png', class:"list-pict" %>
        <h3 class='reason-list-text'>
        見やすい
          <span class='reason-list-blue-text'>一覧</span>
          表示
        </h3>
        <p class='reason-list-description'>
          シンプルな一覧表示で情報が見やすく、使いやすい。
        </p>
      </li>
      <li class='list'>
        <%= image_tag '/assets/com.png', class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>完了表示</span>
          で簡潔
        </h3>
        <p class='reason-list-description'>
          完了表示で、未完了タスクと見分けがしやすい。
        </p>
      </li>
    </ul>
  </div>

<%# Footer %>
<%= render "shared/footer"%>
